<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="Myjumbo">
    <div class="container text-center">



        <h2>
            <div class="text-left"> <img src="../images/Curly.png" style="height: 80px"></div>
        "name" : Phillip Byrd,<br>
        "location" : Los Angeles, CA <br>
        "status" : Online<br>
        </h2>
        <div class="text-right"><img src="../images/BackCurly.png" style="height: 40px"></div>
        


        <div class="text-right">
            <p><a href="https://www.linkedin.com/in/phillipespybyrd/"> <img src="../images/linkedin-icon.png" style="max-width: 40px;max-height: 40px;"></a></p>
            <p><a href="https://github.com/PhillByrd2018"><img src="../images/git%20(1).png" style="max-width: 40px;max-height: 40px;"></a></p>
            <p><a href="../images/Resume%20Phillip%20Byrd.pdf"><img src="../images/CV.png" style="max-width: 40px;max-height: 40px;"></a></p>
        </div>


        <img src="../images/Arches.jpg" class="img-rounded img-responsive" />

    </div>
    <div class="container text-center">
        <h3>
            I am recent graduate in the computer science field. I moved to the Los Angeles area back in June of 2018.
            <br>
            <br>
            <hr>
            This site is the best place to get in contact with me and see what I have been up to.
        </h3>

    </div>
</div>


<div class="container">

    <h3>Things that are keeping me busy: </h3>
    <hr>
    <div class="container-fluid">
        <div class="row text-center pad-top">
            <div class="col-sm-4">
                <h3>Graduating: </h3>
                <img src="../images/Graduation.jpg"  class="img-rounded"  style="max-height: 450px; max-width: 200px;"/>
            </div>
            <div class="col-sm-4">
                <h3>Blackbaud: </h3>
                <img src="../images/blackbaud-siliconharbor-feature.jpg"  class="img-rounded"  style="max-height: 450px; max-width: 200px;"/>
            </div>
            <div class="col-sm-4">
                <h3>Researcher: </h3>
                <img src="../images/CofC.jpg"  class="img-rounded"  style="max-height: 450px; max-width: 200px;"/>
            </div>
        </div>
        <div class="row text-center pad-top">
            <div class="col-sm-4">
                <h3>SSCA: </h3>
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <h3>Database Project: </h3>
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <h3>Awards: </h3>
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
        </div>
        <div class="row text-center pad-top">
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
        </div>
    </div>

        <!--</div>-->
    </div>

    <hr>

    <footer>
        <p>&copy; Awesome!</p>
    </footer>
</div> <!-- /container -->
