<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="Myjumbo">
    <div class="container text-center">

        <h1>My Name is Phillip Byrd...</h1>
        <h2>and this is my Site!</h2>

        <img src="../images/FrenchCool.jpg" class="img-rounded img-responsive"/>


        <h3>
            I am recent graduate in the computer science field. I moved to the Los Angeles area back in June of 2018.
            This site is the best place to get in contact with me and see what I have been up to.
        </h3>

    </div>
</div>


<div class="container">
    <!-- Example row of columns -->
    <!--<div class="row">-->
        <!--<div class="col-md-12 text-center">-->
            <!--<h3>-->
                <!--Here is some of the stuff I have been up to recently:-->
            <!--</h3>-->

            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="column">-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded"  />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                    <!--</div>-->
                    <!--<div class="column">-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded"  />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                    <!--</div>-->
                    <!--<div class="column">-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded"  />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                    <!--</div>-->
                    <!--<div class="column">-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded"  />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                        <!--<img src="../images/FrenchCool.jpg"  class="img-rounded" />-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

    <div class="container-fluid">
        <div class="row text-center pad-top">
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
        </div>
        <div class="row text-center pad-top">
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
        </div>
        <div class="row text-center pad-top">
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="../images/FrenchCool.jpg"  class="img-rounded" />
            </div>
        </div>
    </div>

        <!--</div>-->
    </div>

    <hr>

    <footer>
        <p>&copy; Awesome!</p>
    </footer>
</div> <!-- /container -->
